.bannerImg{
	height: 150px;
	width: 100%;
}

.sub-name{
	font-weight: bold;
}

.sub-offer{
	font-size: 12px;
}

.card{
	margin-bottom: 10px;
}

.search-ecom{
	margin-top: 10px;
	input{
		padding: 5px;
	}
}