/* You can add global styles to this file, and also import other style files */
.header{
	height: 50px;
	background-color: #960303;
	.heading{
		color: #ffffff;
		font-size: 1.5em;
		margin-left: 10px;
	}
}
