.header-6{
    line-height: 60px;
    background-color: #ffffff;  
    color: #000000;
    .menu-btn{
        float: left;
        width: 10%;
        padding-left: 10px;
        clr-icon{
            width: 25px;
            height: 25px;
            color: #000000;
        }
    }
    .title{
        float: left;
        width: 80%;
        text-align: center;
    }
    .notification-icon{
        float: left;
        width: 10%;
        text-align: right;
        padding-right: 10px;
        clr-icon{
            width: 25px;
            height: 25px;
            color: #000000;
        }
    }
}

.main-container{
    
        .top-container{
            background: linear-gradient(87deg,#8b2e2e 0,#bc3f3d 100%)!important;
            padding: 38px 0px;
            position: relative;
            .shop-for-customer{
                position: absolute;
                right: 0;
                color: #ffffff;
                top: 6px;
            }
            .my-actions{
                position: absolute;
                right: 0;
                color: #ffffff;
                bottom: 6px;
            }
            .d-card{
                .right{
                    position: relative;
                    height: 100%;
                    .circle{
                        position: absolute;
                        right: 0;
                        border-radius: 100px;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        color: #ffffff;
                        clr-icon{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .card-footer{
                        right: 0px;
                        left: unset;
                    }
                    .crit{
                        font-size: 11px;
                        span{
                            margin-right: 8px;
                        }
                        .active{
                            color: #bc3f3d;
                        }
                    }
                }
                height: 150px;
                background-color: #ffffff;
                border-radius: 5px;
                margin: 20px 10px;
                box-shadow: 5px 4px 5px #770000;
                padding: 20px;
                position: relative;
                .heading{
                    font-weight: bold;
                    font-size: 14px;
                }
                .value{
                    font-weight: bold;
                    font-size: 20px;
                    color: #000000;
                    margin-top: 10px;
                }
                .card-footer{
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    padding: 0px;
                    clr-icon{
                        height: 20px !important;
                        width: 20px !important;
                        color: #26d826 !important;
                    }
                    .growth{
                        color: #26d826 !important;
                    }
                    .compare{
                        color: gray;
                        margin-left: 10px;
                    }
                }
            }
        }
    
        .report-container{
            padding: 20px 10px;
            border-bottom:1px dotted #770000;
            width: 100%;
            margin-bottom: 10px;
            .products, .categories{
                width: 100%;
                overflow-x: visible;
                overflow-y: hidden;
                white-space: nowrap;
            }
        }
}