<div class="main-container">
    <header class="header-6">
        <div class="menu-btn">M</div>
        <div class="title">
            BankApp
        </div>
        <div class="notification-icon">
          N
        </div>
    </header>
    <div class="top-container">
      <div class="shop-for-customer">
          <button class="btn btn-success">Shop for Customer</button>
          </div>
      <div class="total-orders d-card">
        <div class="left">
          <div class="heading">TOTAL ORDERS</div>
          <div class="value">15</div>
          <div class="card-footer">
            <clr-icon shape="arrow"></clr-icon>
            <span class="growth">10%</span>
            <span class="compare">Since last month</span>
          </div>
        </div>
        <div class="right">
          <div class="circle" style="background-color: #11cdef;">
            <clr-icon shape="shopping-bag"></clr-icon>
          </div>
          <div class="card-footer crit">
            <span>Day</span>
            <span>Week</span>
            <span class="active">Month</span>
          </div>
        </div>
      </div>
      <div class="new-users d-card">
          <div class="left">
              <div class="heading">NEW USERS</div>
              <div class="value">15</div>
              <div class="card-footer">
                <clr-icon shape="arrow"></clr-icon>
                <span class="growth">10%</span>
                <span class="compare">Since last month</span>
              </div>
            </div>
            <div class="right">
              <div class="circle" style="background-color: #fb6340;">
                  <clr-icon shape="user"></clr-icon>
              </div>
              <div class="card-footer crit">
                <span>Day</span>
                <span>Week</span>
                <span class="active">Month</span>
              </div>
            </div>
      </div>
      <div class="repeating-users d-card">
          <div class="left">
              <div class="heading">TOTAL USERS</div>
              <div class="value">15</div>
              <div class="card-footer">
                <clr-icon shape="arrow"></clr-icon>
                <span class="growth">10%</span>
                <span class="compare">Since last month</span>
              </div>
            </div>
            <div class="right">
              <div class="circle" style="background-color: #5603ad;">
                  <clr-icon shape="users"></clr-icon>
              </div>
              <div class="card-footer crit">
                <span>Day</span>
                <span>Week</span>
                <span class="active">Month</span>
              </div>
            </div>
      </div>
      <div class="total-profit d-card">
          <div class="left">
              <div class="heading">PROFIT</div>
              <div class="value">15</div>
              <div class="card-footer">
                <clr-icon shape="arrow"></clr-icon>
                <span class="growth">10%</span>
                <span class="compare">Since last month</span>
              </div>
            </div>
            <div class="right">
              <div class="circle" style="background-color: #2dce89;">
                  <clr-icon shape="rupee"></clr-icon>
              </div>
              <div class="card-footer crit">
                <span>Day</span>
                <span>Week</span>
                <span class="active">Month</span>
              </div>
            </div>
      </div>
    </div>

    <div class="report-container">
      <div class="top-selling">          
        <div class="top-products">
          <h5>Top Selling Products of your store</h5>
          <div class="products">
          </div>
        </div>

        <div class="top-products">
            <h5>Top Selling Categories of your store</h5>
            <div class="categories">
            </div>
          </div>
      </div>
    </div>

    <div class="report-container suggestion-container">
        <div class="top-selling">    
          <h5 style="font-weight: bold;">TOP PICKS FOR YOU</h5>      
          <div class="top-products">
            <h5>Top Products for you</h5>
            <div class="products">
            </div>
          </div>
  
          <div class="top-products">
              <h5>Top Categories for you</h5>
              <div class="categories">
              </div>
          </div>

          <div class="top-products">
              <h5>Top Offers for you</h5>
              <div class="categories">
              </div>
          </div>
        </div>
      </div>
  </div>