<div class="header">
  <div class="heading">Test App</div>
</div>

<div class="container-fluid">
	<div class="card order-status">
		<div class="card-body">
			<div class="card-text">Your order has been placed succesfully</div>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<div class="card-text">
				<div class="">OrderId: </div>
				<div class="">Order Date: </div>
				<div class="">Order Status: </div>
			</div>
		</div>
	</div>

	<div class="cart-container">
		<h5>Cart</h5>
		<div class="card" style="width: 100%;">
		    <div class="card-body">
		      <div class="left">wwe</div>
		      <div class="right">
		      	<div class="title">Enchanted Drapes Men Regular Fit Casual shirt - Brown</div>
		      	<div class="price">
		      		<div class="d-price">Rs. 1000</div>
		      		<div class="a-price">
		      			<span>Rs. 2000</span>
		      			<span>50% Off</span>
		      		</div>
		      	</div>
		      </div>
		    </div>
		  </div>
	</div>

	<h5 style="margin-top: 10px;">Total Amount</h5>
	<div class="card">
		<div class="card-body">
			<div class="card-text">
				Total Amount : Rs. 2000
			</div>
		</div>
	</div>
</div>